<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <link rel="stylesheet" href="/css/auth.css">
</head>
<body>
    <% if (success.length) { %>
  <div class="flash success"><%= success[0] %></div>
<% } %>

<% if (error.length) { %>
  <div class="flash error"><%= error[0] %></div>
<% } %>

  <div class="auth-card">
    <h2>Welcome 👋</h2>

    <p class="link" style="margin-bottom:1.5rem;">
      Secure authentication with email OTP verification
    </p>

    <form action="/login" method="GET">
      <button>Login</button>
    </form>

    <form action="/register" method="GET">
      <button>Register</button>
    </form>

  </div>

</body>
</html>
